@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: "Halyard Text";
  src: url("http://db.onlinewebfonts.com/t/89248b0583721153668df86453b579de.eot");
  src: url("http://db.onlinewebfonts.com/t/89248b0583721153668df86453b579de.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/89248b0583721153668df86453b579de.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Halyard Text", sans-serif;
}

a {
  text-decoration: none;
}

.button-blue {
  margin-left: 30px;
  padding: 8px 15px;
  font-weight: 300;
  font-size: 1rem;
  background-color: #3751FF;
  color: #fff;
  border-radius: 30px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: 1fr;
}

.main-nav {
  display: grid;
  grid-gap: 4rem;
  margin: 1.5rem 0;
  grid-template-columns: max-content 3fr;
  width: 88%;
  justify-content: center;
  justify-self: center;
}

.main-nav .nav-content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  width: 100px;
}

.main-nav .links {
  display: grid;
  align-items: center;
  justify-content: start;
}

.main-nav .links ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  grid-gap: 30px;
}

.main-nav .links ul li a {
  color: #3751FF;
  font-weight: 600;
}

.main-nav .contact-bar {
  display: flex;
  align-items: center;
  color: #3751FF;
  justify-content: end;
}

.main-nav .contact-bar a {
  font-size: 0.9rem;
}

.main-nav .contact-bar h3 {
  color: #283396;
  font-size: 0.8rem;
}

.hero {
  display: grid;
  grid-gap: 1rem;
  height: 100%;
}

.hero-content {
  display: grid;
  justify-content: center;
  width: 100%;
  align-items: center;
  background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
  grid-template-areas:
    "heroContent-h1 heroContent-h1"
    "heroContent-p heroContent-p"
    "heroBuyButton heroFeature"
    "img img";
  grid-gap: 2rem;
  text-align: center;
  padding-top: 120px;
  height: 83%;
}

.hero-content h1 {
  grid-area: heroContent-h1;
  font-size: 3.438rem;
  justify-self: center;
  color: #1E266D;
  line-height: 105%;
}

.hero-content p {
  grid-area: heroContent-p;
  font-size: 1.125rem;
  color: #455880;
}

.hero-content .hero-buy-button {
  grid-area: heroBuyButton;
  justify-self: end;
  margin: 0;
  font-size: 1rem;
}

.hero-content .hero-feature-a {
  grid-area: heroFeature;
  justify-self: start;
  font-size: 1rem;
}

.hero-content img {
  width: 100%;
  grid-area: img;
  justify-self: center;
}

.logos {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  text-align: center;
  grid-gap: 1rem;
  width: 100%;
  margin-top: 67px;
}

.logos p {
  color: rgba(69, 88, 128, 50%);
}

.logos .logos-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  align-items: center;
  justify-self: center;
  margin-top: 12px;
}

.logos .logos-content img {
  justify-self: center;
}

.about {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.about h1 {
  color: #1E266D;
  font-size: 3rem;
  text-align: center;
  justify-self: center;
}

.about-content {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.discription {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.discription h2 {
  font-size: 1.375rem;
  color: #1E266D;
}

hr {
  background: rgba(69, 88, 128, 20%);
  width: 80%;
  height: 1px;
  justify-self: center;
}

.design,
.easy,
.reliable {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
}

.design-content,
.easy-content,
.reliable-content {
  margin-top: -5px;
}

.design-content p,
.easy-content p,
.reliable-content p {
  margin-top: 30px;
  font-size: 1.125rem;
  line-height: 21px;
  color: #455880;
}

.photos .image-1 img {
  width: 100%;
}

.portfolio {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  background-color: #FFF9EA;
}

.portfolio-content {
  padding-top: 120px;
  display: grid;
  grid-gap: 0.9rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.portfolio-content *:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 3rem;
  color: #1E266D;
}

.portfolio-content *:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/3;
  font-size: 1.313rem;
  color: #455880;
}

.portfolio-content *:nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  margin-left: 0;
  padding: 10px 15px;
}

.portfolio img {
  width: 100%;
  justify-self: center;
}

.testimonials {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.testimonials h1 {
  align-self: end;
  font-size: 3rem;
  color: #1E266D;
}

.testimonials-content {
  display: grid;
  width: 87.5%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.comment {
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 34px 32px 20px;
  height: 404px;
  text-align: left;
}

.comment p {
  font-size: 1.125rem;
  color: #455880;
}

.comment-user {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-self: end;
}

.comment-user img {
  padding-bottom: 20px;
}

.comment-user span h4 {
  color: #1E266D;
  font-size: 1.375rem;
}

.comment-user span {
  align-self: baseline;
  display: grid;
  align-self: end;
  font-size: 1.125rem;
  color: #455880;
  text-align: center;
}

.cta {
  background: #3751FF;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 0;
}

.cta-content {
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 89.3%;
}

.cta-content h1 {
  color: #FFFFFF;
  font-size: 3rem;
  line-height: 61px;
}

.cta-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 1rem;
  justify-self: end;
  justify-content: center;
}

.button-cto {
  display: flex;
  align-items: center;
  padding: 9px 46px 9px 25px;
  border-radius: 50px;
  background-color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  color: #455880;
  text-align: left;
}

.button-cto img {
  margin-right: 13px;
}

.cta-touch h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #DFE0EB;
}

.cta-touch h5 span {
  color: #FED385;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 92px 0;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  justify-content: center;
  width: 87.5%;
  justify-self: center;
  margin-bottom: 8rem;
}

.column-1 {
  display: grid;
  grid-template-rows: max-content;
}

.column-1 img {
  width: 61px;
  align-self: baseline;
  height: 23px;
  margin-bottom: 31px;
}

.column-1 p {
  font-size: 1.125rem;
  color: #455880;
}

.column-2,
.column-3,
.column-4 {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  grid-gap: 0.8rem;
}

:where(.column-2, .column-3, .column-4) p {
  font-size: 1.375rem;
  color: #1E266D;
  font-weight: 600;
  margin-bottom: 10px;
}

:where(.column-2, .column-3, .column-4) a {
  color: #455880;
  font-size: 1.125rem;
  align-self: center;
}

.column-4 {
  grid-template-rows: repeat(4, 46px);
  grid-gap: 0;
}

.column-4 span {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(5, 1fr);
  color: #1E266D;
  justify-content: space-between;
}

.column-4 span i,
.column-4 span img {
  margin-right: 15px;
}

.column-4 a,
.column-4 span {
  align-self: center;
}

.info {
  display: grid;
  width: 87.5%;
  justify-self: center;
  justify-content: space-between;
  grid-template-columns: max-content max-content;
}

.info p {
  font-size: 0.875rem;
  color: rgba(69, 99, 239, 50%);
}

.info a {
  color: #455880;
  font-size: 0.875rem;
}

.info-links :nth-child(2) {
  margin: 0 30px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media screen and (max-width: 930px) {
  .contact-bar h3 {
    display: none;
  }

  .button-blue {
    margin-left: 0;
  }

  .main-nav {
    grid-gap: 2rem;
  }

  .hero-content h1 {
    font-size: 2.88rem;
  }

  .hero-content {
    grid-template-areas:
      "heroContent-h1"
      "heroContent-p"
      "heroBuyButton"
      "heroFeature"
      "img";
    padding-top: 30px;
    grid-gap: 2rem;
  }

  .hero-content .hero-feature-a {
    justify-self: center;
  }

  .hero-content .hero-buy-button {
    justify-self: center;
  }
}

@media screen and (max-width: 760px) {
  .main-nav {
    grid-template-columns: 1fr max-content;
    position: relative;
  }

  .hero-content {
    grid-auto-rows: max-content;
    grid-gap: 2rem;
    padding-top: 0;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .contact-bar h3 {
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .main-nav .links ul {
    grid-template-columns: 1fr;
  }

  .main-nav .contact-bar {
    justify-content: space-around;
  }

  .nav-content {
    position: fixed;
    right: -100%;
    top: 4rem;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
    background-color: #fff;
    overflow: none;
  }

  .nav-content.active {
    display: grid !important;
    right: 0%;
  }

  .main-nav .nav-content {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .main-nav .links {
    justify-content: center;
    margin-bottom: 30px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }

  .about-content {
    grid-template-columns: 1fr;
    align-items: center;
    
  }
  .discription {
    background: url("Images/about-graphic.png") no-repeat center center;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.84);
    background-size: contain;
    grid-gap: 2rem;
    justify-content: center;
  }
  .photos {
    display: none;
  }
  .about h1 {
    font-size: 2.3rem;
  }
  .portfolio-content *:nth-child(1) {
    font-size: 2rem;
  }
  .portfolio-content *:nth-child(2) {
    font-size: 1rem;
  }
  .testimonials h1 {
    margin: 10px 0 33px 0;
  }
  .cta-content h1 {
    font-size: 2.2rem;
  }
  .cta-touch h5 {
    font-size: 0.8rem;
  }
  .button-cto {
    font-size: 1rem;
  }
}

@media screen and (max-width: 690px) {
  .cta-content {
    grid-gap: 2rem;
    text-align: center;
  }
  .cta-touch {
    justify-self: center;
  }
}

@media screen and (max-width: 410px) {

  .hero-content h1 {
    font-size: 1.7rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .comment {
    height: 368px;
  }

  .comment p {
    font-size: 1rem;
  }
}